repositories:
  - name: grafana-community
    url: https://grafana-community.github.io/helm-charts
  - name: grafana
    url: https://grafana.github.io/helm-charts
  - name: jaegertracing
    url: https://jaegertracing.github.io/helm-charts
  - name: kyverno
    url: https://kyverno.github.io/kyverno/
