{{ define "telegram.lab2.text" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}
🔥ОГОНЬ🔥
{{ else }}
💦ПОТУШЕНО💦
{{ end }}
Алерт: {{ .Labels.alertname }}
Описание: {{ .Annotations.summary }}
Критичность: {{ .Labels.severity }}
{{- with .Labels.component }}
Component: {{ . }}
{{- end }}
{{- with .Labels.part_of }}
Part of: {{ . }}
{{- end }}
{{ end }}
{{ end }}
