server:
  image:
    repository: quay.io/prometheus/prometheus
    tag: "v3.13.2"

serverFiles:
  alerting_rules.yml:
    groups:
      - name: api
        rules:
          - alert: HighErrorRate
            expr: >-
              (
                sum(rate(http_errors_total{app_kubernetes_io_name="api", app_kubernetes_io_part_of="lab2-observability"}[5m]))
                /
                sum(rate(http_requests_total{app_kubernetes_io_name="api", app_kubernetes_io_part_of="lab2-observability"}[5m]))
              ) > 0.5
              and
              sum(increase(http_requests_total{app_kubernetes_io_name="api", app_kubernetes_io_part_of="lab2-observability"}[5m])) >= 10
            for: 5m
            labels:
              severity: "Critical"
            annotations:
              summary: "API error rate is above 50%"
          - alert: HighLatency
            expr: >-
              histogram_quantile(
                0.95,
                sum by (le) (
                  rate(http_request_duration_seconds_bucket{
                    app_kubernetes_io_name="api", app_kubernetes_io_part_of="lab2-observability"
                  }[5m])
                )
              ) > 5
            for: 5m
            labels:
              severity: "Critical"
            annotations:
              summary: "High responce latency"
          - alert: ApiDown
            expr: >-
              up{app_kubernetes_io_name="api", app_kubernetes_io_part_of="lab2-observability"} == 0
              or
              absent(up{app_kubernetes_io_name="api", app_kubernetes_io_part_of="lab2-observability"})
            for: 5m
            labels:
              severity: "Critical"
            annotations:
              summary: "Api is DOWN"      

extraManifests:
  - |
    apiVersion: v1
    kind: Secret
    metadata:
      name: prometheus-secrets
      namespace: {{ .Release.Namespace }}
    type: Opaque
    stringData:
      bot-token: {{`{{ .Values.prometheusSecret.bot_token | quote }}`}}
      chat-id: {{`{{ .Values.prometheusSecret.chat_id | quote }}`}}

alertmanager:
  enabled: true
  image:
    tag: "v0.33.1"
  templates:
    alertmanager.tmpl: |-
{{ readFile "template.tmpl" | indent 6 }}
  config:
    route:
      group_wait: 10s
      group_interval: 5m
      receiver: telegram
      repeat_interval: 1h
    receivers:
      - name: telegram
        telegram_configs:
          - bot_token_file: /etc/am-secrets/bot-token
            chat_id_file: /etc/am-secrets/chat-id
            send_resolved: true
            message: '{{`{{ template "telegram.lab2.text" . }}`}}'
  extraSecretMounts:
    - name: chat-bot-token
      mountPath: /etc/am-secrets/
      secretName: prometheus-secrets
      readOnly: true
