bases:
  - ../bases/repositories.yaml.gotmpl
  - ../bases/common.yaml.gotmpl

defaultInherit:
  - common

releases:
  - name: api-lab2
    namespace: api
    chart: ../charts/api-universal

  - name: api-lab3
    namespace: api
    chart: ../charts/api-universal
