bases:
  - ../bases/repositories.yaml.gotmpl
  - ../bases/common.yaml.gotmpl

defaultInherit:
  - common

releases:
  - name: kube-prom-stack
    namespace: observability
    chart: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
    version: 91.5.1
    disableValidationOnInstall: true

  - name: loki
    namespace: observability
    chart: grafana-community/loki
    version: 18.13.4

  - name: alloy
    namespace: observability
    chart: grafana/alloy
    version: 1.12.1

  - name: jaeger
    namespace: observability
    chart: jaegertracing/jaeger
    version: 4.13.1

  - name: karma
    namespace: observability
    chart: ../charts/api-universal
