bases:
  - ../bases/repositories.yaml.gotmpl
  - ../bases/common.yaml.gotmpl

defaultInherit:
  - common

releases:
  - name: grafana
    namespace: observability
    chart: grafana-community/grafana
    version: 13.2.5

  - name: prometheus
    namespace: observability
    chart: oci://ghcr.io/prometheus-community/charts/prometheus
    version: 29.21.0

  - name: loki
    namespace: observability
    chart: grafana-community/loki
    version: 18.13.4

  - name: alloy
    namespace: observability
    chart: grafana/alloy
    version: 1.12.1

  - name: jaeger
    namespace: observability
    chart: jaegertracing/jaeger
    version: 4.13.1

  - name: karma
    namespace: observability
    chart: ../charts/api-universal
