bases:
  - ../bases/repositories.yaml.gotmpl
  - ../bases/common.yaml.gotmpl

defaultInherit:
  - common

releases:
  # - name: api-lab2
  #   namespace: api
  #   chart: ../charts/api-universal

  - name: postgres
    namespace: api
    chart: ../charts/postgres

  - name: api-lab3
    namespace: api
    chart: ../charts/api-universal
    needs:
      - api/postgres

  - name: worker-lab3
    namespace: api
    chart: ../charts/api-universal
    needs:
      - api/postgres

  - name: batch-lab4
    namespace: api
    chart: ../charts/api-universal

  - name: monitoring-resources
    namespace: api
    chart: ../charts/monitoring-resources
    needs:
      - api/api-lab3
      - api/worker-lab3
