configMap:
  enabled: true
  name: api-dashboard
  labels:
    grafana_dashboard: "true"
  data:
    api-dashboard.json: |-
{{ readFile "dashboard.json" | indent 6 }}
    network-dashboard.json: |-
{{ readFile "../../../New dashboard-1791662114130.json" | indent 6 }}
